<div class="hamburger">
  <div class="hamburger__content">
    <header class="hamburger__content__header">
      <h2 class="fs-l fw-bold flex-1 break-word lh-tight"><%= community_name.to_s %></h2>

      <button class="c-btn c-btn--icon-alone js-hamburger-trigger shrink-0" aria-label="<%= t("views.hamburger.icon_close") %>">
        <%= crayons_icon_tag(:x, class: "c-btn__icon", aria_hidden: true, title: t("views.hamburger.icon_close")) %>
      </button>
    </header>

    <div class="p-2" id="authentication-hamburger-actions">
      <%= render partial: "shared/auth_widget", locals: { tracking_id: "ca_hamburger_home_page", source: "mobile_hamburger_nav" } unless user_signed_in? %>

      <nav class="hidden" id="space-switch-nav">
        <header class="pt-2 pl-3 pb-0 pr-0 flex items-center justify-between">
          <h2 class="crayons-subtitle-3"><%= t("views.main.spaces.my_spaces", default: "Spaces") %></h2>
        </header>
        <div id="space-switch-container" class="space-switch-container mb-4"></div>
        
        <h2 class="crayons-subtitle-3 py-2 pl-3"><%= t("views.main.spaces.main_nav", default: "Navigation") %></h2>
      </nav>

      <style type="text/css">
        .space-switch-container .active{text-decoration: underline;}
      </style>


      <%= render partial: "layouts/main_nav", locals: { context: "hamburger" } %>
    </div>
  </div>
  <div class="hamburger__overlay js-hamburger-trigger"></div>
</div>
